@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F7F3;
}

section {
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 9rem;
  position: fixed;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  background: transparent;
  z-index: 1000;
  transition: 1s;
  box-shadow: 1px 2px 5px black;
  background: #245c0a;
}
.navbar #navlist {
  display: flex;
  flex-direction: row;
  gap: 180px;
  list-style-type: none;
  font-size: 2.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar #navlist button {
  font-size: 2.5rem;
  height: 3.4rem;
  background: none;
  margin-top: 1.6rem;
  color: #F8F7F3;
  font-family: "Cabin", sans-serif;
  text-decoration: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
}
.navbar #navlist #titulo {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin: 2% 0;
  color: #F8F7F3;
}

#inicial {
  padding-top: 8%;
}
#inicial .grid {
  width: 85%;
  margin-left: 7.5%;
  height: 80%;
  display: flex;
}
#inicial .grid #banner {
  min-width: 40%;
  height: 100%;
  border-radius: 10px;
  background-image: url(../img/Banner.jpg);
  background-size: cover;
  background-position: 10%;
  border: none;
  box-shadow: 2px 0 10px grey;
  transition: all 0.5s;
  margin-top: auto;
}
#inicial .grid #banner:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
#inicial .grid .info {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
#inicial .grid .info #banner2 {
  min-width: 50%;
  min-height: 47.5%;
  border-radius: 10px;
  background-image: url(../img/Banner2.jpg);
  background-size: cover;
  background-position: 10%;
  border: none;
  box-shadow: 2px 0 10px grey;
  transition: all 0.5s;
  margin-top: auto;
}
#inicial .grid .info #banner2:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
#inicial .grid .info #texto1 h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Cabin", sans-serif;
}
#inicial .grid .info #texto1 p {
  margin: 3% 0;
  font-size: 20px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

#orçamento .grid {
  width: 85%;
  margin-left: 7.5%;
  height: 90%;
  display: flex;
}
#orçamento .grid #banner3 {
  min-width: 60%;
  height: 80%;
  border-radius: 10px;
  background-image: url(../img/Banner3.jpg);
  background-size: cover;
  background-position: 10%;
  border: none;
  box-shadow: 2px 0 10px grey;
  transition: all 0.5s;
}
#orçamento .grid #banner3:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
#orçamento .grid #texto2 {
  margin-left: 7.5%;
}
#orçamento .grid #texto2 h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Cabin", sans-serif;
}
#orçamento .grid #texto2 p, #orçamento .grid #texto2 li {
  margin: 3% 0;
  font-size: 20px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

#despesas .grid {
  width: 85%;
  margin-left: 7.5%;
  height: 90%;
  display: flex;
}
#despesas .grid #banner4 {
  min-width: 60%;
  height: 80%;
  border-radius: 10px;
  background-image: url(../img/Banner4.jpg);
  background-size: cover;
  background-position: 10%;
  border: none;
  box-shadow: 2px 0 10px grey;
  transition: all 0.5s;
  margin-left: 7.5%;
}
#despesas .grid #banner4:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
#despesas .grid #texto3 h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Cabin", sans-serif;
}
#despesas .grid #texto3 p, #despesas .grid #texto3 li {
  margin: 3% 0;
  font-size: 20px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

#investimentos .grid {
  width: 85%;
  margin-left: 7.5%;
  height: 90%;
  display: flex;
}
#investimentos .grid #banner5 {
  min-width: 60%;
  height: 80%;
  border-radius: 10px;
  background-image: url(../img/Banner5.jpg);
  background-size: cover;
  background-position: 10%;
  border: none;
  box-shadow: 2px 0 10px grey;
  transition: all 0.5s;
}
#investimentos .grid #banner5:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
#investimentos .grid #texto4 {
  margin-left: 7.5%;
}
#investimentos .grid #texto4 h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Cabin", sans-serif;
}
#investimentos .grid #texto4 p, #investimentos .grid #texto4 li {
  margin: 3% 0;
  font-size: 20px;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

#footer {
  height: 6rem;
  width: 100%;
  bottom: 0;
  background-color: #245c0a;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#footer p {
  color: #F8F7F3;
  font-size: 1.75rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
#footer a {
  color: darkred;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */